@model Web.Models.Event.EventModel

<form method="post" action="@Url.Action("CreateEvent","Events")">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Events</h2>
            <hr />
        </div>
    </div>
    <div class="from-group">
        <label class="control-label">User</label>
        @Html.DropDownList("UserId", new SelectList(Model.UserList,"Id","DisplayName"), "Select User", new { @class = "form-control" })
        
    </div>
        <label for="Name">Name</label><br />
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required="required" })
    <br />
        <label for="Description">Description</label><br />
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @required="required" })
    <br />
        <label for="From">From</label><br />
        @Html.TextBoxFor(m => m.From, new { @class = "form-control", @required="required" })
    <br />
        <label for="To">To</label><br />
        @Html.TextBoxFor(m => m.To, new { @class = "form-control", @required="required" })
    <br />
    <button type="submit" value="save" class="btn btn-primary" style="width:150px">Create</button>
    <a asp-controller="Events" asp-action="ListEvent" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

