@model List<Web.Models.Customer.CustomerModel>
@{
    ViewBag.Title = "List";
}
<style>
    .modal-lg 
    {
        max-width: 80%;
    }
</style>
<button type="button" class="btn btn-outline-dark" style="background-color:DodgerBlue;" onclick="@("window.location.href='" + @Url.Action("CreateCustomer", "Customers") + "'");">Create</button>
<a href="@Url.Action("List", "Home")" class="btn btn-secondary" style={"width:150px; font-family: Times New Roman, Times, serif;"}}"> Back to Home</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $('#CustomerTable').DataTable();
</script>

<div class="container p-3">
    <div class="col-6">
        <h3 class="text-primary">Customer List</h3>
        <hr />
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Customers" asp-action="CreateCustomer" class="btn bnt-primary">
            <i class="bi bi-plus-ciricle"></i></a>
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-striped" id="CustomerTable" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
           </th>
             <th>
                MobileNumber
            </th>
            <th>
                NumberOfPeople
            </th>
            <th>
                Note
           </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td wideth="50">
        @item.Name
        <td wideth="50">
        @item.Age
        </td>
         <td wideth="50">
        @item.MobileNumber
        </td>
        <td wideth="50">
        @item.NumberOfPeople
        <td wideth="50">
        @item.Note
        </td>
        <td>
        <a asp-action="EditCustomer" asp-route-id="@item.Id">Update</a> |
        <a asp-action="DetailCustomer" asp-route-id="@item.Id">Details</a> |
        <a asp-action="DeleteCustomer" asp-route-id="@item.Id">Delete</a> 
        </td>
    </tr>
    }
    </tbody>
</table>
